<div class='container'>
	<nav class='span-4'>
		<h1 class='hidden'><a href='/'>Brad<br>Dunbar</a></h1>
		<ul>
			<li><a href='#web'>Web</a></li>
			<li><a href='#tools'>Tools</a></li>
			<li><a href='#experience'>Experience</a></li>
			<li><a href='#education'>Education</a></li>
		</ul>
	</nav>
	<div class='sections prepend-1 append-1 span-18 last'>
		<header>
			<h1><a href='/'>Brad Dunbar</a></h1>
		</header>
		<hr>
		<section id='web'>
			<article class='span-6'>
				<h2>Html<span>&#x2770;&#x2771;</span></h2>
				<p>
					Html is the beautiful substrate of the web.  Finding more
					semantically correct ways to express content is a
					constantly evolving task.  I'm definitely on board with the
					changes brought about by html5 and I think they will make
					the web a better place.  Html audio is great and <em>of
					course</em> I have a strong opinion about html video
					codecs!
				</p>
				<div class='left fadein html5-bg'>
					<img class='left' src='<%= hash['/img/html5-small.png'] %>'>
				</div>
				<p>
					On the other hand, a nice big helping of pragmatism can go
					a very long way.  Sometimes things should just be as simple
					as they possibly can and that means regular old
					technologies and techniques.  I'm ok with that and I
					actually think its pretty great sometimes.
				</p>
			</article>
			<article class='span-6'>
				<h2>Css<span>&#x273b;</span></h2>
				<p>
					Other than javascript, Writing cross browser style sheets
					is probably where I have the most experience.  I've dealt
					with peekaboo bugs, IE hacks, floats, and redesigned *ahem*
					table layouts as semantic documents.
				</p>
				<p>
					I'm of the opinion that anything worth doing is worth doing
					using progressive enhancement and graceful degradation.
					You shouldn't leave legacy users in the cold (however much
					you want to) and more able clients should be given the most
					advanced experience possible.
				</p>
			</article>
			<article class='span-6 last'>
				<h2>Javascript<span>&#x2774;&#x2775;</span></h2>
				<p>
					I <span class='heart'><3</span> javascript.
					<code>(function(){})()</code> is a lexical scoping hug, and
					<code>{}</code> is an object literal kiss.
				</p>
				<div class='right fadein javascript-bg'>
					<img src='<%= hash['/img/javascript-small.jpg'] %>'>
				</div>
				<p>
					I know all the ins and outs of variable hoisting and the
					implications of having function scope as opposed to block
					scope.  Using <code>call</code> and <code>apply</code>
					comes naturally and prototypal inheritence is way cooler
					than the classical style.
				</p>
				<p>
					I'm hopelessly obsessed with <a target='_blank'
					href='http://nodejs.org'>node.js</a> and javascript has
					become my everyday scripting language of choice.
				</p>
			</article>
		</section>
		<section id='tools'>
			<h2>Tools</h2>
			<article class='span-9'>
				<h3>Environment _</h3>
				<p>
					I'm all about the command line.  I don't like to take my
					hands off the keyboard if I don't have to and for my money
					linux has the best tools for such an environment.
				</p>
				<p>
					I've used a number of different distros, but I don't have a
					hard preference as long as my favorite unix tools are handy
					(grep, sed, awk, etc).
				</p>
				<div class='fadein nodejs-bg'>
					<img src='<%= hash['/img/nodejs-small.jpg'] %>'>
				</div>
				<p>
					As stated above, I have become infatuated with <a
					target='_blank' href='http://nodejs.org'>node.js</a>.  If
					you have a project that needs to be written with node,
					please let me know as soon as possible.  Seriously, I might
					do it for free.
				</p>
				<p>
					Ok, ok, I don't work for free.  (But really, I might pay
					you to work on it.)
				</p>
			</article>
			<article class='span-9 last'>
				<h3>Source Control &#x00b1;&#x00b1;&#x00b1;</h3>
				<p>
					Source control is absolutely fundamental to any software
					project and using it correctly makes things go much more
					smoothly.
				</p>
				<p>
					Git is definitely what I'm most comfortable with.  It's
					fast, simple and rock-solid.  <code>stash</code>,
					<code>rebase</code>, and <code>log</code> save me huge
					amounts of time.
				</p>
				<p>
					I also have fairly extensive experience with subversion.
					DVCS is the future of source control but in the meantime
					svn is still the industry standard so I can merge tree
					conflicts without breaking a sweat.
				</p>
				<p>
					Besides git and subversion, I have a working knowledge of
					mercurial and bazaar.  Nothing fancy mind you, but given
					the need I could find my way around.
				</p>
			</article>
		</section>
		<section id='experience'>
			<h2>Work Experience</h2>
			<article class='span-6'>
				<h3>Senior Developer</h3>
				<strong>General Information Systems</strong>
				<p>
					<em>Chapin SC<br>Nov 2010 - Present</em>
				</p>
				<p>
					I currently work on streamlining a rather large
					javascript codebase, along with a good helping of
					backend development using an MVC paradigm.  I also get
					to help out other developers who don't have much
					experience writing javascript.
				</p>
			</article>
			<article class='span-6'>
				<h3>Lead Developer</h3>
				<strong>CGM Computer Consulting</strong>
				<p>
					<em>Columbia SC<br>Oct 2008 - Nov 2010</em>
				</p>
				<p>
					As the primary developer, I created a custom CMS for
					the Basic Combat Training unit at Fort Jackson SC.
					Since I was the only developer, I learned a great deal
					about cleaning up my own messes and just making things work.
				</p>
			</article>
			<article class='span-6 last'>
				<h3>Web Developer</h3>
				<strong>Seibels Bruce Insurance</strong>
				<p>
					<em>Columbia SC<br>Sep 2007 - Oct 2008</em>
				</p>
				<strong>SCANA Services</strong>
				<p>
					<em>Columbia SC<br>Mar 2006 - Sep 2007</em>
				</p>
				<p>
					I worked alongside a team of developers on high
					traffic, customer facing line of business web
					applications.
				</p>
			</article>
		</section>
		<section id='education'>
			<h2>Education</h2>
			<article class='span-6 push-1 txr'>
				<h3>Bachelor of Science</h3>
				<strong>Computer Engineering</strong>
				<br>
				<em>May 11<sup>th</sup>, 2007</em>
			</article>
			<article class='span-6 push-5 last'>
				<h3>Doctor of Philosophy</h3>
				<strong>Software Engineering</strong>
				<br>
				<em>in progress</em>
			</article>
		</section>
		<div class='span-6'>
			<h2>Contact</h2>
			<p>
				If you would like to contact me about a job (or just shoot the
				breeze) please email <a
				href='mailto:brad@obscureminutiae.com'>brad@obscureminutiae.com</a>.
				I am available for contract and freelance work on a case by
				case basis.
			</p>
		</div>
		<div class='span-6 last'>
			<h2>Location</h2>
			<p>
				I am located in Lexington, South Carolina, and I am mostly
				looking for remote work.  However, I might be willing to
				commute a small distance several times a week for the right
				position.
			</p>
		</div>
	</div>
	<footer class='prepend-1 span-18 append-1 last'>
		<p class='prepend-top'>
			&copy; <%= new Date().getFullYear() %> brad dunbar |
			<a href='http://github.com/braddunbar/braddunbar'>source</a> |
			<a href='http://slicehost.com'>hosting</a>
		</p>
	</footer>
</div>
<script src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery<% if(app.settings.env == 'production'){ %>.min<% } %>.js'></script>
<% if(app.settings.env == 'production'){ %>
<script src='<%= hash['/js/_index.js'] %>'></script>
<% }else{ %>
<script src='<%= hash['/js/underscore.js'] %>'></script>
<script src='<%= hash['/js/backbone.js'] %>'></script>
<script src='<%= hash['/js/index.js'] %>'></script>
<% } %>
