<!doctype html>
<html>
<head>
	<title>brad dunbar</title>

	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>

	<link rel='stylesheet' href='//fonts.googleapis.com/css?family=Six+Caps'>

	<% if(app.settings.env == 'production'){ %>
		<link rel='stylesheet' href='<%= hash['/css/_screen.css'] %>'>
	<% }else{ %>
		<link rel='stylesheet' href='<%= hash['/css/blueprint/screen.css'] %>'>
		<link rel='stylesheet' href='<%= hash['/css/screen.css'] %>'>
	<% } %>

	<!--[if lt IE 8]><link rel='stylesheet' href='<%= hash['/css/blueprint/ie.css'] %>'><![endif]-->
	<!--[if lt IE 9]><script src='<%= hash['/js/html5.js'] %>'></script><![endif]-->

	<% if(app.settings.env == 'production'){ %>
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-22421833-1']);
		_gaq.push(['_trackPageview']);

		(function() {
		  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
	<% } %>
</head>
<body>
	<%- body %>
</body>
</html>
